body{
    background-color:chartreuse;
}
.container{
    margin-left: 50px;
    margin-right: 10px;
    display: flex;

}

.card{
    box-shadow: 0 0 26px rgba(46, 34, 34, 0.5);
    overflow: hidden;
    margin-right:20px;
    margin-bottom: 20px;
    background-image: linear-gradient( 135deg, #3B2667 20%, #BC78EC 100%);
    height:min-content;
}

.card-header{
    text-align: center;
    color: aqua;
    background-color: black;
    font-weight: bolder;
    font-family:sans-serif;
    padding-right: 20px;
}

img{
    width:100%;
    display: block;
}

.card-body{
    text-align:justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
    height:100% !important;
    text-decoration: double;
    padding-right: 30px;
}
.card-title{
    padding-left: 45px;
    padding-right:45px;
    text-align:justify;
    font-size:medium;
    color:whitesmoke;

}   
.btn{
    text-align: center;
    margin-left:40px;
    margin-right:40px;
     
}