body{
    background-color:skyblue;
}
.container{
    margin-left: 50px;
    margin-right: 10px;
    display: flex;

}

.card{
    overflow: hidden;
    margin-right:20px;
    margin-bottom: 20px;
    background-image: linear-gradient(to right,white,blue);
    height:min-content;
}

.card-header{
    text-align: center;
    color: black;
    background-color: red;
    font-weight: bolder;
    font-family:'Times New Roman', Times, serif;
    padding-right: 20px;
}

img{
    width:100%;
    display: block;
}

.card-body{
    text-align:justify;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:100% !important;
    text-decoration: double;
    padding-right: 30px;
}
.card-title{
    padding-left: 45px;
    padding-right:45px;
    text-align:justify;
    font-size:medium;
    color:whitesmoke;

}   
.btn{
    text-align: center;
    margin-left:40px;
    margin-right:40px;
     
}
